body { 
    /*width:1000px;*/ /*esmiling: modified for header update*/
    background-color:#FFF; 
    background-image:none; 
    margin:auto; 
    text-align:center; 
    /*height:100% */ /*esmiling: modified for header update*/
}

/* added 3.21.08 by Pam Statz to fix archive formatting issues */
p { margin-top: 15px; }
a { color:#007CA5; text-decoration:none; outline: none;}
a:visited { color:#666666; } 
a:active { color:#999999; } 
b, font { line-height: 110%; }
/* end */

#shell { 
    width:1000px; 
    margin:auto; 
    text-align:left; 
    height:100%;
}   
#wrap { 
    width:1000px; 
    margin: 0 auto; /*esmiling: header update*/
    text-align:left; 
} 

body > #wrap { padding-bottom:75px; }

#subwrap { width:1000px; }

#colL { 
    /*margin:151px 0 0 0;*/ /*esmiling: modified for header update*/
    top: -15px; /*esmiling: modified for header update*/
    background: none; /*esmiling: modified for header update*/
    font-size:12px; 
}

#colL h4 { background:#FFF; }
#colL h3 { background:#CCC; }
#colL a:link, #colL a:visited, #colL a:active { color:#666; }
#colL a:hover { color:#007CA5; }

#colL div.hooha a:link, #colL div.hooha a:visited, #colL div.hooha a:active { color:#666; }
#colL div.hooha a:hover { color:#007CA5; }

#colL div.smcurr a:link, #colL div.smcurr a:visited, #colL div.smcurr a:active { color:#666; }
#colL div.smcurr a:hover { color:#007CA5; }

.content { font-size:12px; }

#colR .content { margin:0; }

/* Hide IFRAMES in DART */
.hiddenDAU {width:0;height:0;}

.clearer { clear:both; }

.login { display:none; }

/* 2009 Redesigned Header
 ************************/
	#global_header{
		background-color: #808080;
		text-align: left;
		clear: both;
		font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        margin-bottom: 10px;
	}
	#global_header ul{
		list-style-type: none;
        padding: 0;
	}
    #global_header li{
        margin: 0;
    }
	#leaderboard{
		padding: 10px 0;
	}
	#leaderboard .advertisement, #leaderboard .subscriptionUnit, #supplemental_links, #global_search{
		float: left;
	}
	#leaderboard .advertisement{
		width: 728px;
		height: 90px;
		margin-right: 20px;
		padding-left: 10px;
		background: url('/images/global_header/ad_text.gif') no-repeat center left;
	}
	#leaderboard .subscriptionUnit{
		width: 242px;
		position: relative;
		overflow: visible;
	}


/* Primary Navigation
 ********************/
	#global_navigation{
		clear: both;
		background-color: #000;
		background-image: url('/images/global_header/gnav_gradient.gif');
		background-repeat: repeat-y;
		background-position: center center;
		min-width: 1000px;
	}
	#primary_navigation, #primary_navigation li{
		position: relative;
	}
	#primary_navigation li{
		float: left;
	}
	#primary_navigation a{
		display: block;
	}
	#primary_navigation a.primaryLink/*, #global_navBar a*/{
		background-image: url('/images/global_header/pnav_icons.gif');
	}
	#primary_navigation a.primaryLink span{
		display: none; /*SEO Friendly Replacement text*/
	}

	/*Specific Primary Nav Buttons/States*/
	#pn_home{
		margin-right: 22px;
	}
	#pn_home a.primaryLink{
		width: 150px;
		background-position: 0 0;
	}
	#pn_sections a.primaryLink{
		width: 99px;
		background-position: -151px 0;
	}
	.s_cars #pn_sections a.primaryLink, 
	.s_culture #pn_sections a.primaryLink, 
	.s_entertainment #pn_sections a.primaryLink, 
	.s_gadgets #pn_sections a.primaryLink, 
	.s_gaming #pn_sections a.primaryLink, 
	.s_medtech #pn_sections a.primaryLink, 
	.s_multimedia #pn_sections a.primaryLink, .s_politics, 
	.s_science #pn_sections a.primaryLink, 
	.s_software #pn_sections a.primaryLink, 
	.s_techbiz #pn_sections a.primaryLink{
		background-position: -151px -60px;
	}
	#pn_sections a.over{background-position: -151px -30px !important;}
	
	#pn_blogs a.primaryLink{
		width: 77px;
		background-position: -251px 0;
	}
	#pn_blogs a.active{background-position: -251px -60px;}
	#pn_blogs a.over{background-position: -251px -30px !important;}
	
	#pn_reviews a.primaryLink{
		width: 93px;
		background-position: -329px 0;
	}
	.s_reviews #pn_reviews a.primaryLink{background-position: -329px -60px;}
	#pn_reviews a.over{background-position: -329px -30px !important;}
	
	#pn_video a.primaryLink{
		width: 74px;
		background-position: -423px 0;
	}
	.s_video #pn_video a.primaryLink{background-position: -423px -60px;}
	#pn_video a.over{background-position: -423px -30px !important;}
	
	#pn_how_to a.primaryLink{
		width: 94px;
		background-position: -498px 0;
	}
	#pn_how_to a.active{background-position: -498px -60px;}
	#pn_how_to a.over{background-position: -498px -30px !important;}
	
	#pn_magazine a.primaryLink{
		width: 102px;
		background-position: -593px 0;
	}
	.s_wired #pn_magazine a.primaryLink,
	.magazinewide #pn_magazine a.primaryLink{
		background-position: -593px -60px;
	}
	.magazinewide #pn_sections a.primaryLink{background-position: -151px 0}
	#pn_magazine a.over{background-position: -593px -30px !important;}
	
	#pn_subscribe_a a.primaryLink, .pn_subscribe_a a.primaryLink/*, #global_navBar a*/{
		width: 108px;
		background-position: -696px 0;
	}
	#pn_subscribe_a a.over, .pn_subscribe_a a.over/*, #global_navBar a:hover*/{background-position: -696px -30px !important;}
	#pn_subscribe_a a.active, .pn_subscribe_a  a.active{background-position: -663px -60px;}


/* Dropdown Menus
 **********************/
	#primary_navigation .dropdownMenu{
		position: absolute;
		left: 0;
		top: 30px;
		width: 215px;
		padding: 5px;
		z-index: 1000;
		background-color: #fff;
		border: 3px solid #dcdcdc;
		display: none;
	}
	#primary_navigation .open{
		display: block;
	}
	#primary_navigation .dropdownMenu ul{
		width: 105px;
		float: left;
        margin: 0;
	}
	#primary_navigation .dropdownMenu ul:first-child{
		margin-right: 5px;
	}
	#primary_navigation .dropdownMenu li{
		float: none; /*rd*/
		position: static; /*rd*/
		margin: 0; /*rd*/
		border-top: 1px solid #dcdcdc;
	}
	#primary_navigation .dropdownMenu .lastLink{
		border-bottom: 1px solid #dcdcdc;
	}
	#primary_navigation .dropdownMenu li:first-child{
		border-top: none;
	}
	#primary_navigation .dropdownMenu a{
		height: 15px;
		color: #666;
		font-size: 1.1em;
		margin: 1px 0;
		padding: 4px 5px 0 5px;
	}
	#primary_navigation .dropdownMenu a:hover{
		background-color: #efefef;
		color: #00BCEC;
	}
	
	/*Subscribe*/
	li#pn_subscribe_a .dropdownMenu{
		width: 365px;
		left: 0;
		right: auto;
	}
	/*Full length items and featured items*/
	#primary_navigation .dropdownMenu .featured{
		border-top: 2px solid #dcdcdc;
		clear: both;
	}
	#primary_navigation .dropdownMenu ul.fullLength, #primary_navigation .dropdownMenu ul.fullLength li{
		float: none;
		width: 265px;
		clear: both;
	}
	#primary_navigation .dropdownMenu ul.fullLength a{
		height: auto;
		padding: 5px 4px 4px;
	}

/* Extra Nav
 ************/
	#extra_navigation{
		background-color: #222;
	}
	#supplemental_links{
		width: 690px;
		padding: 9px 20px 0 0;
		text-align: right;
	}
	#supplemental_links ul, #supplemental_links li{
		display: inline;
	}
	#supplemental_links, #supplemental_links a{
		color: #999;
		font-size: 1.05em;
	}
	#supplemental_links a{
		font-weight: bold;
	}
	#supplemental_links a:hover, #gh_rss:hover a{
		text-decoration: underline;
	}
	#gh_rss{
		position: relative;
		padding-right: 15px;
	}
	#gh_rss img{
		position: absolute;
		right: 3px;
		top: -1px;
	}
	#global_search{
		width: 290px;
		position: relative;
		top: -1px;
	}
	#global_search input#gs_query{
		width: 145px;
	}
	#global_search select{
		width: 110px;
		border: 1px solid #fff;
	}
	#gs_submit{
		position: relative;
		top: 6px;
	}
	.gh_username{
		font-weight: bold;
	}
    /*failsafe/ecommerce related*/
    #global_navigation a#global_navBar_failsafe, #global_navigation #global_navBar_rollover a{
         display: block;
         height: auto;
         text-align: center;
         margin-top: 20px;
     }
     #global_navigation #global_navBar_failsafe:hover, #global_navigation #global_navBar_rollover a:hover{
         background: none;
     }
      #primary_navigation .dropdownMenu #gh_close_sub_flyout{
        width: 53px;
        height: 17px;
        background-image: url('/images/global_header/subscribe/gh_sub_close.gif');
        background-position: 0 0;
        background-repeat: no-repeat;
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 0;
        margin: 0;
     }
     #gh_close_sub_flyout:hover{
         background-position: 0 -17px !important;
     }
     #primary_navigation .dropdownMenu #gh_close_sub_flyout, .autosubs input.submit{
         cursor: hand;
         cursor: pointer;
     }
/* Common Styles */
	/*centering and fixed containers*/
	#leaderboard, #primary_navigation, #secondary_navigation{
		width: 1000px;
		margin: 0 auto;
	}
	/*heights*/
	#global_navigation, #extra_navigation, #home_link, #primary_navigation a{
		height: 30px;
	}

    /*	CSS Filters
     ***************/
     * + html #global_search{top: 1px;}
     * + html #gh_rss img{top: 1px;}
     * + html #gs_submit{top: 3px;}
     * + html #primary_navigation .dropdownMenu li a{height: 17px;}
     * html #leaderboard .subscriptionUnit{overflow:hidden;}
     * html #gh_rss img{position: static;}
     * html #global_search{top: 1px;}
     * html #gs_submit{top: 3px;}
/*end 2009 global header*/

/* begin footer */
#footer {
    font-family: Arial, helvetica, sans-serif;
    font-size: 10px;
    line-height: 1.3em;
    margin:10px 0 0 0;
}
#footer, #footer p{
    color: #fff;
}
#footer p {
    margin: 0;
}
#footer a{
    color:#007CA5;
}
#foot_row1 { background: #222; height:30px;}
#foot_row2 { background: #181818; height: 30px; }
#foot_row3 { padding: 10px 0 27px 0; background: #000;}
.footer_rss {padding-left:2px; }
span.pad {
    display: block;
    margin: 0 0 0 10px;
    padding: 10px 0 0 0;
}
.link_row { color: #494949; }
#foot_row2 .link_row { color: #4b4b4b; }
#foot_row3 .link_row { color: #4c4c4c; }
.condenet_sites { padding: 10px 0 10px 0; color: #292929; }
.condenet_sites a { font-weight:bold; }
#copyright { float:left; }
#drop_downs { padding-bottom:5px; }
#drop_downs select{
    width:170px;
    border: 1px solid #333;
    margin-right: 10px;
}
#footer .copyright{
    margin-top: 5px;
}
